@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.IsInRole("Admin"))
    {
        <p>Your role is Admin</p>
    }
    else
    {
        <p>Your role is User</p>
    }
</div>
